@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Inter:wght@400;600;700&family=Open+Sans:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* declare colors variables */
:root{
    --black-color:black;
    --light-black:rgba(0, 0, 0, 0.529);
    --white-color:#fff;
    --orange-color:rgb(227, 93, 25);
}
/* start Header style */
header{
    overflow-x:hidden ;
}
a{
    text-decoration: none;
}
img{
    width: 300px;
    border-radius: 5px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 100px;
}
nav a.logo{
    color: var(--black-color);
    font-size: 25px;
}
nav .fa-bars{display: none;font-size: 30px;}
nav ul li{
    display:inline-block;
    margin:20px 20px 0 ; 
}
nav ul li a{
    color: var(--light-black);
}
nav ul li a:hover{
    color: var(--orange-color);
}
a.btn{
    padding: 10px 20px;
    background: var(--orange-color);
    color: var(--white-color);
}
ul.Responsive{
    height: 100%;
    width: 50%;
    position: fixed;
    right: 0;
    top: 0;
    overflow: hidden;
    background: white;
    transition:all 1s ;
    z-index: 100;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
    display: none;
}
ul.Responsive li{
    margin: 20px 0;
    list-style: none;
}
ul.Responsive li a{
    color: var(--light-black);
}
.hero{
    background: rgba(224, 194, 185, 0.29);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0px;
    flex-wrap: wrap;
}
.hero .text-content{
    width: 600px;
    padding:0 10px;
}
.hero .text-content h1{
    font-size: 60px;
}
.hero .text-content p{
    color: var(--light-black);
    margin: 20px 0;
}
@media(max-width:1260px){
    .hero{
        background: rgba(224, 185, 150, 0.29);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 50px 0;
    }
    .hero .text-content{
        width: 500px;
    }
    .hero .text-content h1{
        font-size: 55px;
    }
    .hero .text-content p{
        color: var(--light-black);
        margin: 20px 0;
    }
}
@media(max-width:1060px){
    .hero{
        background: rgba(235, 178, 128, 0.29);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 50px 0;
    }
    .hero .text-content{
        width: 500px;
        margin: 20px 0;
    }
    .hero .text-content h1{
        font-size: 45px;
    }
    .hero .text-content p{
        color: var(--light-black);
        margin: 20px 0;
    }
    nav{
        padding: 0 60px;
    }
}
@media(max-width:850px){
    .hero{
        background: rgba(235, 178, 128, 0.29);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }
    .hero .text-content{
        width: 500px;
    }
    .hero .text-content h1{
        font-size: 35px;
    }
    .hero .text-content p{
        color: var(--light-black);
        margin: 20px 0;
    }
    nav{
        padding: 0 50px;
    }
}
@media(max-width:800px){
    .hero{
        background: rgba(235, 178, 128, 0.29);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 50px 0;
    }
    .hero .text-content{
        width: 500px;
    }
    .hero .text-content h1{
        font-size: 35px;
    }
    .hero .text-content p{
        color: var(--light-black);
        margin: 20px 0;
    }
    nav{
        padding: 0 50px;
    }
}
@media(max-width:770px){
    nav ul{
        display: none;
    }
    nav .fa-bars{
        display: block;
    }
    .hero .text-content h1{
        font-size: 30px;
    }
    .hero .text-content p{
        font-size: 14px;        
    }
    nav{
        padding: 0 30px;
    }
    ul.Responsive{
        width:50%;
        transform: translate(780px);
        display: block;
    }
}
@media(max-width:500px){
    ul.Responsive{
        width: 100%;
        transform: translate(550px);
    }
}
/* end Header style */
/* start feature style */
.feature{
    width: 100%;
}
.title{
    margin: 25px 0;
    position: relative;
}
.title::after{
    content: '';
    width: 100px;
    height: 5px;
    background: var(--orange-color);
    position: absolute;
    border-radius: 10px;
    bottom: -10px;
    left: 0;
}
.feature .brands{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
}
.feature .brands img{
    width: 150px;
    margin:20px;
}
.feature .container{
    width: 100%;
    padding: 40px;
}
.col ul li {
    display: inline-block;
    font-size: 22px;
}
.col ul li .fa-solid{
    color: var(--orange-color);
    font-size: 12px;
}
h5{
    font-family: 'Cairo', sans-serif;
}
.feature h3{
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
}
@media(max-width:900px){
    .feature .brands img{
        width: 120px;
        margin:10px;
    }
    .feature ul{
        justify-content: center;
    }
    .feature ul li {
        font-size: 10px;
    }
    .feature .text{
        margin: 30px 0;
        width: 300px;
    }
    .feature .text h1{
        font-size: 28px;
    }
    .feature .text h3{
        font-size: 22px;
    }
    .feature .text p{
        font-size: 14px;
    }
}
/* end feature style */

/* start services style */
.services{
    overflow-x: hidden;
    background: rgba(224, 194, 185, 0.29);
    padding: 30px;
}
.services .container{
    width: 100%;
    padding: 40px;
}
.services .container .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row{
    margin: 60px 0;
}
.col{
    margin: 20px 0;
}
 h4{
    color: var(--black-color);
    margin: 10px 0;
    font-size: 20px;
}
p{
    color: var(--light-black);
    font-size: 16px;
}
.line{
    display: flex;
    align-items: center;
    min-width: 100%;
}
.line hr{
    width: 35%;
    height: 1px;
    background: #333;
}
.line p{
    margin: 10px;
}
.body ul{
    padding: 0;
    margin: 0;
}
.services .body ul li{
    margin: 10px 0;
    display: block;
    color: var(--light-black);
    font-size: 18px;
}
.body ul li .fa-circle{
    color: var(--orange-color);
    margin-right: 5px;
    font-size: 10px;
}
/* end services style */
/* start team style */
.team{
    overflow-x: hidden;
    padding: 30px;
}
.team .container{
    width: 100%;
    padding: 40px;

}
.coaches{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap ;
    margin-top: 40px;
}
.coaches .person{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap ;
    margin: 10px 0;
}
.coaches .person img{
    width: 200px;
    border-radius: 5px;
    margin: 0 30px 0 0 ;
}
.coaches .person .info{
    width: 200px;
}
.coaches .person h2{
    margin: 10px 0;
}
.testimonials{
    display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap:wrap ;
   margin-top: 120px;
}
.testimonials div{
    width: 400px;
}
.testimonials div p{
    margin: 10px 0;
    font-size: 20px;
}
.testimonials div img{
    width: 450px;
    margin:20px 0 ;
}


@media(max-width:1000px){
    .services{
        padding:30px 0;
    }
    .services .container{
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .services .container .head {
        font-size: 10px;
    }
    .team{
        padding:30px  0;
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .row .col div img{
        min-width: 100%;
    }
    .testimonials div img{
        width: 100%;
    }
    .services .container .head a{
        display: none;
    }
}
@media(max-width:810px){
    .services{
        padding:30px 0;
    }
   .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container{
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .head{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .title::after{
        margin: auto;
        width: 100%;
    }
    .container-fluid{
        padding: 0;
        margin: 0;
    }
    .services .container .head p{
        font-size: 10px;
    }
    .row .col div h4{
        margin: 5px 0;
        font-size: 16px;
    }
    .row .col div p{
        font-size: 12px;
    }
    .team .container{
        margin: 0;
    }
    .team .container .coaches p{
        font-size: 14px;
    }
    .body ul li{
        font-size: 16px;
    }
    .body{
        width: 100%;
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .line {
        text-align: center;
    }
    .testimonials div{
        width: 350px;
        padding: 0 10px;
        text-align: center;
        font-size: 12px;
    }
    .testimonials div p{
        font-size: 8px;
    }
    .testimonials{
        display: flex;
       align-items: center;
       justify-content: space-around;
       margin-top: 120px;
    }
}
@media(max-width:300px){
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: -40px;
    }
    .testimonials p{
          font-size: 12px;
    }
    .footer .container h1{
        font-size: 10px;
    }
    .row .col div h4{
        margin: 5px 0;
        font-size: 14px;
    }
    .row .col div p{
        font-size: 12px;
    }
    .body .row .col ul li .fa-solid{
        font-size: 6px;
    }
    .body .row .col ul li{
        font-size: 10px;
    }
    .feature .body .container-fluid .row .col h5{
        font-size: 14px;
    }
    .feature .body .container-fluid .row .col h2{
        font-size: 14px;
    }
    .feature .body .container-fluid .row .col h3{
        font-size: 12px;
    }
    .team .container p{
       font-size: 14px;    
    }
    .testimonials div{
        width: 300px;
        text-align: center;
        padding: 0 10px;
        font-size: 12px;
    }
}
/* end team style */

/* start footer style */

.footer{
    background: rgba(224, 194, 185, 0.29);
    padding: 40px 10px;
}
.footer .container{
    width: 100%;
    padding: 40px;
    text-align: center;
    line-height: 40px;
}
.footer .container h1{
    font-size: 50px;
}
.footer .container p{
    font-size: 18px;
}
.footer .container input{
    display: block;
    width: 60%;
    border: 1px solid var(--light-black);
    padding: 3px 15px;
    border-radius: 5px;
    margin: 15px auto;
}
.footer .social-links{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .social-links div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer .social-links div p{
    margin: 0 10px;
    font-size: 20px;
}
.footer .social-links div a{
    color:var(--black-color);
}
/* end footer style */
.about .hero{
    background: white;
}
.about .hero h1{
    font-size: 45px;
}
.about .hero img{
    width: 500px;
}
.team.about{
    background: rgba(224, 194, 185, 0.29);
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 100px 0;
    overflow-x: hidden;
}
.contact div{
    max-width: 500px;
}
.contact div p{
    max-width: 300px;
}

.contact .right{
    background:  rgba(224, 194, 185, 0.29);
    padding: 0 20px;
}
.contact .right form{
    max-width: 100%;
    padding: 40px;
    position: relative;
}
.contact .right form input{
    max-width:100%;
    margin: 20px 0;
}
.contact .right form textarea{
    min-width: 300px;
    height: 100px;
    padding: 10px;
}
.contact .right form button{
    width: 100%;
    border: 0;
}
.contact .right form a{
    display: block;
}
.contact .right form .message span{
   position: absolute;
   bottom: 3%;
   left: 10%;
   color: green;
   padding: 10px 0;
}
@media(max-width:810px){
    .footer .container{
        width: 100%;
        padding: 0;
        line-height: 20px;
    }
    .footer .container h1{
        font-size: 30px;
    }
    .footer .container p{
        font-size: 16px;
    }
    .footer .container input{
        display: block;
        width: 100%;
    }
    .footer .social-links{
        width: 100%;
    }
    .about .hero img{
        width: 100%;
    }
    .contact{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 100px 0;
        overflow-x: hidden;
    }
    .contact .right form{
        padding:35px 0px 60px;
    }
    .contact .right form .message span{
        position: absolute;
        bottom: -1%;
        left: 5%;
     }
    .contact .right form input{
        width: 80%;
    }
    .contact .right form textarea{
        max-width: 400px;
    }
    .social-links{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 40px;
    }
}
